*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--ff);
}

:root {
  --clr-red: hsl(0, 100%, 74%);
  --clr-green: hsl(154, 59%, 51%);
  --clr-blue: hsl(248, 32%, 49%);
  --clr-darkblue: hsl(249, 10%, 26%);
  --clr-grayishblue: hsl(246, 25%, 77%);

  --fs: 16px;
  --fs-big: 28px;
  --fs-small: 10px;

  --ff: "Poppins", sans-serif;
  --fw-1: 400;
  --fw-2: 500;
  --fw-3: 600;
  --fw-4: 700;
}

@media only screen and (min-width: 800px) {
  :root {
    --fs-big: 48px;
  }
}

p {
  opacity: 0.8;
  line-height: 1.7;
}

body {
  background-image: url(images/bg-intro-mobile.png);
  background-color: var(--clr-red);
  font-size: var(--fs);
  padding: 0 1.2em;
}

@media only screen and (min-width: 800px) {
  body {
    background-image: url(images/bg-intro-desktop.png);
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
  }
}

.container {
  display: grid;
}

@media only screen and (min-width: 800px) {
  .container {
    grid-template-columns: 1fr 1fr;
    padding: 0 3em;
    align-items: center;
  }
}

.learn {
  color: #fff;
  margin: 4em auto;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .learn {
    padding: 0 3em;
    text-align: left;
  }
}

.learn h1 {
  font-size: var(--fs-big);
  font-weight: var(--fw-4);
  margin-bottom: 0.5em;
}

.form-container {
  display: flex;
  flex-direction: column;
  grid-template-rows: 1fr 3fr;
  margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
  .form-container {
    max-width: 500px;
  }
}

.try-it {
  background-color: var(--clr-blue);
  color: #fff;
  text-align: center;
  padding: 1em 3em;
  margin: 1.5em 0;
  border-radius: 10px;
  box-shadow: -1px 10px 5px 0px rgba(0, 0, 0, 0.32);
}

.try-it span {
  font-weight: var(--fw-4);
}

.form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: -1px 10px 5px 0px rgba(0, 0, 0, 0.32);
}

@media only screen and (min-width: 800px) {
  .form {
    padding: 2em;
  }
}

.form input {
  padding: 1.2em;
  border-radius: 5px;
  font-weight: var(--fw-4);
  border: 1px solid var(--clr-grayishblue);
}

@media only screen and (min-width: 800px) {
  .form input {
    margin-bottom: 1.2rem;
  }
}

input::placeholder {
  color: var(--clr-darkblue);
  opacity: 0.9;
  font-weight: var(--fw-3);
}

input.error {
  color: var(--clr-red);
  border: 2px solid var(--clr-red);
}

form span {
  display: none;
}

.error-message {
  color: var(--clr-red);
  font-size: var(--fs-small);
  font-style: italic;
  font-weight: var(--fw-3);
  text-align: right;
  margin: -2em 0 2em;
  display: block;
}

.error {
  border: 1px solid var(--clr-red);
  background: url(images/icon-error.svg) no-repeat;
  background-position: 95% 50%;
}

input.success {
  border: 1px solid var(--clr-green);
}

.form button {
  background-color: var(--clr-green);
  color: #fff;
  box-shadow: 0px 4px 0px 0px hsl(154, 60%, 34%);
  padding: 1.2em;
  border: none;
  text-transform: uppercase;
  font-weight: var(--fw-2);
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1.3px;
  transition: opacity 250ms ease-in-out;
}

.form button:hover {
  opacity: 0.6;
}

.form-text {
  font-size: var(--fs-small);
  text-align: center;
  margin-top: 0.7em;
  color: var(--clr-grayishblue);
}

.form-text span {
  color: var(--clr-red);
  font-weight: var(--fw-4);
}
